ENV=local
PORT=5555
COINGECKO_API_URL=https://api.coingecko.com/api/v3/
OWLRACLE_API_URL=https://api.owlracle.info/v3/
OWLRACLE_API_KEY=
OWLRACLE_API_SECRET=
AWS_REGION=us-west-2
AWS_ACCT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_KMS_KEY_ID=
CHECKOUT_PUBLIC_KEY=
CHECKOUT_SECRET_KEY=
EVM_PRIVATE_KEY=
DB_NAME=string_db
DB_USERNAME=string_db
DB_PASSWORD=string_password
DB_HOST=localhost
DB_PORT=5432
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET_KEY=hskdhfjfkdhsgafgwterurorhfh
UNIT21_API_KEY=
UNIT21_URL=https://sandbox2-api.unit21.com/v1/
TWILIO_ACCOUNT_SID=AC034879a536d54325687e48544403cb4d
TWILIO_AUTH_TOKEN=
TWILIO_SMS_SID=MG367a4f51ea6f67a28db4d126eefc734f
TWILIO_AUTH_SID=VAc0221d2e2de51bbc28afe5349469a3e4
DEV_PHONE_NUMBERS=+14088675309,+14155555555