BASE_URL=https://localhost:5555/
ENV=local
PORT=5555

##### SET THIS TO YOUR WALLET FOR LOCAL TESTING
STRING_HOTWALLET_ADDRESS=0xb4D168E584dA81B6712412472F163bcf0Af5171C

COINGECKO_API_URL=https://api.coingecko.com/api/v3/
COINCAP_API_URL=https://api.coincap.io/v2/
OWLRACLE_API_URL=https://api.owlracle.info/v3/
OWLRACLE_API_KEY=
OWLRACLE_API_SECRET=
AWS_REGION=us-west-2
AWS_ACCT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_KMS_KEY_ID=
CHECKOUT_PUBLIC_KEY=
CHECKOUT_SECRET_KEY=
CHECKOUT_ENV=sandbox
EVM_PRIVATE_KEY=
DB_NAME=string_db
DB_USERNAME=string_db
DB_PASSWORD=string_password
DB_HOST=db
DB_PORT=5432
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET_KEY=hskdhfjfkdhsgafgwterurorhfh
UNIT21_API_KEY=
UNIT21_ENV=sandbox2-api
UNIT21_ORG_NAME=string
UNIT21_RTR_URL=https://rtr.sandbox2.unit21.com/evaluate
TWILIO_ACCOUNT_SID=AC034879a536d54325687e48544403cb4d
TWILIO_AUTH_TOKEN=
TWILIO_SMS_SID=MG367a4f51ea6f67a28db4d126eefc734f
TEAM_PHONE_NUMBERS=+14088675309,+14155555555
STRING_ENCRYPTION_KEY=secret_encryption_key_0123456789
SENDGRID_API_KEY=
FINGERPRINT_API_KEY=
FINGERPRINT_API_URL=https://api.fpjs.io/
STRING_INTERNAL_ID=00000000-0000-0000-0000-000000000000
STRING_WALLET_ID=00000000-0000-0000-0000-000000000001
STRING_BANK_ID=00000000-0000-0000-0000-000000000002
SERVICE_NAME=string_api
DEBUG_MODE=false
AUTH_EMAIL_ADDRESS=auth@stringxyz.com
RECEIPTS_EMAIL_ADDRESS=receipts@stringxyz.com
CARD_FAIL_PROBABILITY= [0.0 - 1.0]
WEBHOOK_SECRET_KEY=secret
