ENV=local
PORT=5555
COINGECKO_API_URL=https://api.coingecko.com/api/v3/
OWLRACLE_API_URL=https://owlracle.info/
OWLRACLE_API_KEY=
OWLRACLE_API_SECRET=
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_KMS_KEY_ID=
CHECKOUT_PUBLIC_KEY=
CHECKOUT_SECRET_KEY=
EVM_PRIVATE_KEY=
DB_NAME=string_db
DB_USERNAME=string_db
DB_PASSWORD=string_password
DB_HOST=localhost
DB_PORT=5432
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_HOST=localhost:6379
REDIS_PORT=6379
JWT_SECRET_KEY=hskdhfjfkdhsgafgwterurorhfh